<% content_for :title do "#{@restaurant.name} - #{@restaurant.address} - La Cuillère" end %>

<ol class="breadcrumb">
  <li><%= link_to "Tous les Restos", restaurants_path %></li>
  <li class="active"><%= @restaurant.name %></li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-1">
      <h1><%= @restaurant.name %><br><small><%= @restaurant.address %></small></h1>
      <span class="category"><i class="fa fa-fire"></i> <%= @restaurant.category %></span>
      <span class="phone pull-right"><i class="fa fa-phone"></i> <%= @restaurant.phone %></span>

      <hr>

      <div id="reviews">
        <div id="review-top">
          <h2 id="review-title"><i class="fa fa-comments"></i> <%= @restaurant.reviews.count %> reviews</h2>
          <a href="#addreview" class="btn btn-default pull-right">add a review</a>
        </div>
        <% @restaurant.reviews.each do |review| %>
          <div class="comment">
            <div class="review-content">
              <%= render "shared/rating", rating: review.rating %>
              <%= review.content %>
            </div>
          </div>
        <% end %>
      </div>

      <hr>

      <%= render "reviews/form" %>

    </div>
  </div>
</div>

